<div class="nav-bar" >
  <footer class="footer">
    <nav>
        <%= link_to "Acerca de",   about_path, class: "button default" %>
        <%= link_to "Contacto", contact_path, class: "button default" %>
    </nav>
  </footer>
  <span class="element">&copy; TouristFriend 2013</span>
</div>